.booking-info{
  background-color: rgb(230, 228, 228);
}
.booking-info:hover{
  background-color: rgb(209, 201, 201);
   transition: all 3s;
   transform: scale(1.05);
}

.booking form{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 20px;
}
.booking form input{
width: 80%;
margin-top: 10px;
padding: 10px 10px;
}
.booking form input:focus{
  box-shadow: 3px 3px 20px rgb(212, 209, 209);
  border: none;
}

@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 600px) {
    .booking-container{
  width: 100%;
  padding: 50px 20px;
  border-radius: 20px;

}
.booking form input{
width: 90%;
margin-top: 10px;
padding: 10px 10px;
}
}